*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Righteous', sans-serif;
}

.card{
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;    
}

.card_front, .card_back{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
}

.card_front{
    transform: rotateY(180deg);
    background-color: #101c2c;
}

.card_back{
    background-color: #05c3ff;
    font-size: 30px;
    color: #101c2c;    
}